# Java e Maven
*.class
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.classpath
.project
.settings/
.factorypath

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de build temporários
build/
bin/

# Arquivos indesejados que apareceram no seu repositório
CACHED
exporting
transferring
writing
login:
senha:
tipoUsuario:
[app]
[app

# Configuração local/sensível
src/main/resources/application.properties
.env
*.env

# Arquivos gerados pelo Maven Wrapper 
mvnw.cmd
