# Diretórios de build
/target/
out/

# Configurações específicas de IDEs
/.idea/
/*.iml
*.class
.classpath
.factorypath
.org.eclipse*

# Arquivos de log
*.log

# Arquivos temporários do sistema
*.swp
*.swo
*.tmp
*.bak
*.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
*.env

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Arquivos de segurança
*.keystore
*.pem
*.crt
*.key
